.flag {
  background: url('i18n.png') no-repeat;
  background-size: 224px 199px;
}

.flag.me {
  width: 16px;
  height: 12px;
  background-position: 0px 0px;
}

.flag.kz {
  width: 16px;
  height: 11px;
  background-position: -16px 0px;
}

.flag.af {
  width: 16px;
  height: 11px;
  background-position: 0px -12px;
}

.flag.ag {
  width: 16px;
  height: 11px;
  background-position: -16px -12px;
}

.flag.ai {
  width: 16px;
  height: 11px;
  background-position: -32px 0px;
}

.flag.al {
  width: 16px;
  height: 11px;
  background-position: -32px -11px;
}

.flag.am {
  width: 16px;
  height: 11px;
  background-position: 0px -23px;
}

.flag.an {
  width: 16px;
  height: 11px;
  background-position: -16px -23px;
}

.flag.ao {
  width: 16px;
  height: 11px;
  background-position: -32px -23px;
}

.flag.ar {
  width: 16px;
  height: 11px;
  background-position: 0px -34px;
}

.flag.as {
  width: 16px;
  height: 11px;
  background-position: -16px -34px;
}

.flag.at {
  width: 16px;
  height: 11px;
  background-position: -32px -34px;
}

.flag.au {
  width: 16px;
  height: 11px;
  background-position: -48px 0px;
}

.flag.aw {
  width: 16px;
  height: 11px;
  background-position: -48px -11px;
}

.flag.ax {
  width: 16px;
  height: 11px;
  background-position: -48px -22px;
}

.flag.az {
  width: 16px;
  height: 11px;
  background-position: -48px -33px;
}

.flag.ba {
  width: 16px;
  height: 11px;
  background-position: 0px -45px;
}

.flag.bb {
  width: 16px;
  height: 11px;
  background-position: -16px -45px;
}

.flag.bd {
  width: 16px;
  height: 11px;
  background-position: -32px -45px;
}

.flag.be {
  width: 16px;
  height: 11px;
  background-position: -48px -45px;
}

.flag.bf {
  width: 16px;
  height: 11px;
  background-position: -64px 0px;
}

.flag.bg {
  width: 16px;
  height: 11px;
  background-position: -64px -11px;
}

.flag.bh {
  width: 16px;
  height: 11px;
  background-position: -64px -22px;
}

.flag.bi {
  width: 16px;
  height: 11px;
  background-position: -64px -33px;
}

.flag.bj {
  width: 16px;
  height: 11px;
  background-position: -64px -44px;
}

.flag.bm {
  width: 16px;
  height: 11px;
  background-position: 0px -56px;
}

.flag.bn {
  width: 16px;
  height: 11px;
  background-position: -16px -56px;
}

.flag.bo {
  width: 16px;
  height: 11px;
  background-position: -32px -56px;
}

.flag.br {
  width: 16px;
  height: 11px;
  background-position: -48px -56px;
}

.flag.bs {
  width: 16px;
  height: 11px;
  background-position: -64px -56px;
}

.flag.bt {
  width: 16px;
  height: 11px;
  background-position: 0px -67px;
}

.flag.bv {
  width: 16px;
  height: 11px;
  background-position: -16px -67px;
}

.flag.bw {
  width: 16px;
  height: 11px;
  background-position: -32px -67px;
}

.flag.by {
  width: 16px;
  height: 11px;
  background-position: -48px -67px;
}

.flag.bz {
  width: 16px;
  height: 11px;
  background-position: -64px -67px;
}

.flag.ca {
  width: 16px;
  height: 11px;
  background-position: -80px 0px;
}

.flag.catalonia {
  width: 16px;
  height: 11px;
  background-position: -80px -11px;
}

.flag.cc {
  width: 16px;
  height: 11px;
  background-position: -80px -22px;
}

.flag.cd {
  width: 16px;
  height: 11px;
  background-position: -80px -33px;
}

.flag.cf {
  width: 16px;
  height: 11px;
  background-position: -80px -44px;
}

.flag.cg {
  width: 16px;
  height: 11px;
  background-position: -80px -55px;
}

.flag.zm {
  width: 16px;
  height: 11px;
  background-position: -80px -66px;
}

.flag.ci {
  width: 16px;
  height: 11px;
  background-position: 0px -78px;
}

.flag.ck {
  width: 16px;
  height: 11px;
  background-position: -16px -78px;
}

.flag.cl {
  width: 16px;
  height: 11px;
  background-position: -32px -78px;
}

.flag.cm {
  width: 16px;
  height: 11px;
  background-position: -48px -78px;
}

.flag.cn {
  width: 16px;
  height: 11px;
  background-position: -64px -78px;
}

.flag.co {
  width: 16px;
  height: 11px;
  background-position: -80px -78px;
}

.flag.cr {
  width: 16px;
  height: 11px;
  background-position: -96px 0px;
}

.flag.cs {
  width: 16px;
  height: 11px;
  background-position: -96px -11px;
}

.flag.cu {
  width: 16px;
  height: 11px;
  background-position: -96px -22px;
}

.flag.cv {
  width: 16px;
  height: 11px;
  background-position: -96px -33px;
}

.flag.cx {
  width: 16px;
  height: 11px;
  background-position: -96px -44px;
}

.flag.cy {
  width: 16px;
  height: 11px;
  background-position: -96px -55px;
}

.flag.cz {
  width: 16px;
  height: 11px;
  background-position: -96px -66px;
}

.flag.de {
  width: 16px;
  height: 11px;
  background-position: -96px -77px;
}

.flag.dj {
  width: 16px;
  height: 11px;
  background-position: 0px -89px;
}

.flag.dk {
  width: 16px;
  height: 11px;
  background-position: -16px -89px;
}

.flag.dm {
  width: 16px;
  height: 11px;
  background-position: -32px -89px;
}

.flag.do {
  width: 16px;
  height: 11px;
  background-position: -48px -89px;
}

.flag.dz {
  width: 16px;
  height: 11px;
  background-position: -64px -89px;
}

.flag.ec {
  width: 16px;
  height: 11px;
  background-position: -80px -89px;
}

.flag.ee {
  width: 16px;
  height: 11px;
  background-position: -96px -89px;
}

.flag.eg {
  width: 16px;
  height: 11px;
  background-position: 0px -100px;
}

.flag.eh {
  width: 16px;
  height: 11px;
  background-position: -16px -100px;
}

.flag.en {
  width: 16px;
  height: 11px;
  background-position: -32px -100px;
}

.flag.england {
  width: 16px;
  height: 11px;
  background-position: -48px -100px;
}

.flag.er {
  width: 16px;
  height: 11px;
  background-position: -64px -100px;
}

.flag.es {
  width: 16px;
  height: 11px;
  background-position: -80px -100px;
}

.flag.et {
  width: 16px;
  height: 11px;
  background-position: -96px -100px;
}

.flag.europeanunion {
  width: 16px;
  height: 11px;
  background-position: -112px 0px;
}

.flag.fam {
  width: 16px;
  height: 11px;
  background-position: -112px -11px;
}

.flag.fi {
  width: 16px;
  height: 11px;
  background-position: -112px -22px;
}

.flag.fj {
  width: 16px;
  height: 11px;
  background-position: -112px -33px;
}

.flag.fk {
  width: 16px;
  height: 11px;
  background-position: -112px -44px;
}

.flag.fm {
  width: 16px;
  height: 11px;
  background-position: -112px -55px;
}

.flag.fo {
  width: 16px;
  height: 11px;
  background-position: -112px -66px;
}

.flag.fr {
  width: 16px;
  height: 11px;
  background-position: -112px -77px;
}

.flag.ga {
  width: 16px;
  height: 11px;
  background-position: -112px -88px;
}

.flag.gb {
  width: 16px;
  height: 11px;
  background-position: -112px -99px;
}

.flag.gd {
  width: 16px;
  height: 11px;
  background-position: 0px -111px;
}

.flag.ge {
  width: 16px;
  height: 11px;
  background-position: -16px -111px;
}

.flag.gf {
  width: 16px;
  height: 11px;
  background-position: -32px -111px;
}

.flag.gh {
  width: 16px;
  height: 11px;
  background-position: -48px -111px;
}

.flag.gi {
  width: 16px;
  height: 11px;
  background-position: -64px -111px;
}

.flag.gl {
  width: 16px;
  height: 11px;
  background-position: -80px -111px;
}

.flag.gm {
  width: 16px;
  height: 11px;
  background-position: -96px -111px;
}

.flag.gn {
  width: 16px;
  height: 11px;
  background-position: -112px -111px;
}

.flag.gp {
  width: 16px;
  height: 11px;
  background-position: -128px 0px;
}

.flag.gq {
  width: 16px;
  height: 11px;
  background-position: -128px -11px;
}

.flag.gr {
  width: 16px;
  height: 11px;
  background-position: -128px -22px;
}

.flag.gs {
  width: 16px;
  height: 11px;
  background-position: -128px -33px;
}

.flag.gt {
  width: 16px;
  height: 11px;
  background-position: -128px -44px;
}

.flag.gu {
  width: 16px;
  height: 11px;
  background-position: -128px -55px;
}

.flag.gw {
  width: 16px;
  height: 11px;
  background-position: -128px -66px;
}

.flag.gy {
  width: 16px;
  height: 11px;
  background-position: -128px -77px;
}

.flag.hk {
  width: 16px;
  height: 11px;
  background-position: -128px -88px;
}

.flag.hm {
  width: 16px;
  height: 11px;
  background-position: -128px -99px;
}

.flag.hn {
  width: 16px;
  height: 11px;
  background-position: -128px -110px;
}

.flag.hr {
  width: 16px;
  height: 11px;
  background-position: 0px -122px;
}

.flag.ht {
  width: 16px;
  height: 11px;
  background-position: -16px -122px;
}

.flag.hu {
  width: 16px;
  height: 11px;
  background-position: -32px -122px;
}

.flag.id {
  width: 16px;
  height: 11px;
  background-position: -48px -122px;
}

.flag.ie {
  width: 16px;
  height: 11px;
  background-position: -64px -122px;
}

.flag.il {
  width: 16px;
  height: 11px;
  background-position: -80px -122px;
}

.flag.in {
  width: 16px;
  height: 11px;
  background-position: -96px -122px;
}

.flag.io {
  width: 16px;
  height: 11px;
  background-position: -112px -122px;
}

.flag.iq {
  width: 16px;
  height: 11px;
  background-position: -128px -122px;
}

.flag.ir {
  width: 16px;
  height: 11px;
  background-position: 0px -133px;
}

.flag.is {
  width: 16px;
  height: 11px;
  background-position: -16px -133px;
}

.flag.it {
  width: 16px;
  height: 11px;
  background-position: -32px -133px;
}

.flag.jm {
  width: 16px;
  height: 11px;
  background-position: -48px -133px;
}

.flag.jo {
  width: 16px;
  height: 11px;
  background-position: -64px -133px;
}

.flag.jp {
  width: 16px;
  height: 11px;
  background-position: -80px -133px;
}

.flag.ke {
  width: 16px;
  height: 11px;
  background-position: -96px -133px;
}

.flag.kg {
  width: 16px;
  height: 11px;
  background-position: -112px -133px;
}

.flag.kh {
  width: 16px;
  height: 11px;
  background-position: -128px -133px;
}

.flag.ki {
  width: 16px;
  height: 11px;
  background-position: -144px 0px;
}

.flag.km {
  width: 16px;
  height: 11px;
  background-position: -144px -11px;
}

.flag.kn {
  width: 16px;
  height: 11px;
  background-position: -144px -22px;
}

.flag.kp {
  width: 16px;
  height: 11px;
  background-position: -144px -33px;
}

.flag.kr {
  width: 16px;
  height: 11px;
  background-position: -144px -44px;
}

.flag.kw {
  width: 16px;
  height: 11px;
  background-position: -144px -55px;
}

.flag.ky {
  width: 16px;
  height: 11px;
  background-position: -144px -66px;
}

.flag.ae {
  width: 16px;
  height: 11px;
  background-position: -144px -77px;
}

.flag.la {
  width: 16px;
  height: 11px;
  background-position: -144px -88px;
}

.flag.lb {
  width: 16px;
  height: 11px;
  background-position: -144px -99px;
}

.flag.lc {
  width: 16px;
  height: 11px;
  background-position: -144px -110px;
}

.flag.li {
  width: 16px;
  height: 11px;
  background-position: -144px -121px;
}

.flag.lk {
  width: 16px;
  height: 11px;
  background-position: -144px -132px;
}

.flag.lr {
  width: 16px;
  height: 11px;
  background-position: 0px -144px;
}

.flag.ls {
  width: 16px;
  height: 11px;
  background-position: -16px -144px;
}

.flag.lt {
  width: 16px;
  height: 11px;
  background-position: -32px -144px;
}

.flag.lu {
  width: 16px;
  height: 11px;
  background-position: -48px -144px;
}

.flag.lv {
  width: 16px;
  height: 11px;
  background-position: -64px -144px;
}

.flag.ly {
  width: 16px;
  height: 11px;
  background-position: -80px -144px;
}

.flag.ma {
  width: 16px;
  height: 11px;
  background-position: -96px -144px;
}

.flag.mc {
  width: 16px;
  height: 11px;
  background-position: -112px -144px;
}

.flag.md {
  width: 16px;
  height: 11px;
  background-position: -128px -144px;
}

.flag.ad {
  width: 16px;
  height: 11px;
  background-position: -144px -144px;
}

.flag.mg {
  width: 16px;
  height: 11px;
  background-position: -160px 0px;
}

.flag.mh {
  width: 16px;
  height: 11px;
  background-position: -160px -11px;
}

.flag.mk {
  width: 16px;
  height: 11px;
  background-position: -160px -22px;
}

.flag.ml {
  width: 16px;
  height: 11px;
  background-position: -160px -33px;
}

.flag.mm {
  width: 16px;
  height: 11px;
  background-position: -160px -44px;
}

.flag.mn {
  width: 16px;
  height: 11px;
  background-position: -160px -55px;
}

.flag.mo {
  width: 16px;
  height: 11px;
  background-position: -160px -66px;
}

.flag.mp {
  width: 16px;
  height: 11px;
  background-position: -160px -77px;
}

.flag.mq {
  width: 16px;
  height: 11px;
  background-position: -160px -88px;
}

.flag.mr {
  width: 16px;
  height: 11px;
  background-position: -160px -99px;
}

.flag.ms {
  width: 16px;
  height: 11px;
  background-position: -160px -110px;
}

.flag.mt {
  width: 16px;
  height: 11px;
  background-position: -160px -121px;
}

.flag.mu {
  width: 16px;
  height: 11px;
  background-position: -160px -132px;
}

.flag.mv {
  width: 16px;
  height: 11px;
  background-position: -160px -143px;
}

.flag.mw {
  width: 16px;
  height: 11px;
  background-position: 0px -155px;
}

.flag.mx {
  width: 16px;
  height: 11px;
  background-position: -16px -155px;
}

.flag.my {
  width: 16px;
  height: 11px;
  background-position: -32px -155px;
}

.flag.mz {
  width: 16px;
  height: 11px;
  background-position: -48px -155px;
}

.flag.na {
  width: 16px;
  height: 11px;
  background-position: -64px -155px;
}

.flag.nc {
  width: 16px;
  height: 11px;
  background-position: -80px -155px;
}

.flag.ne {
  width: 16px;
  height: 11px;
  background-position: -96px -155px;
}

.flag.nf {
  width: 16px;
  height: 11px;
  background-position: -112px -155px;
}

.flag.ng {
  width: 16px;
  height: 11px;
  background-position: -128px -155px;
}

.flag.ni {
  width: 16px;
  height: 11px;
  background-position: -144px -155px;
}

.flag.nl {
  width: 16px;
  height: 11px;
  background-position: -160px -155px;
}

.flag.no {
  width: 16px;
  height: 11px;
  background-position: -176px 0px;
}

.flag.za {
  width: 16px;
  height: 11px;
  background-position: -176px -11px;
}

.flag.nr {
  width: 16px;
  height: 11px;
  background-position: -176px -22px;
}

.flag.nu {
  width: 16px;
  height: 11px;
  background-position: -176px -33px;
}

.flag.nz {
  width: 16px;
  height: 11px;
  background-position: -176px -44px;
}

.flag.om {
  width: 16px;
  height: 11px;
  background-position: -176px -55px;
}

.flag.pa {
  width: 16px;
  height: 11px;
  background-position: -176px -66px;
}

.flag.pe {
  width: 16px;
  height: 11px;
  background-position: -176px -77px;
}

.flag.pf {
  width: 16px;
  height: 11px;
  background-position: -176px -88px;
}

.flag.pg {
  width: 16px;
  height: 11px;
  background-position: -176px -99px;
}

.flag.ph {
  width: 16px;
  height: 11px;
  background-position: -176px -110px;
}

.flag.pk {
  width: 16px;
  height: 11px;
  background-position: -176px -121px;
}

.flag.pl {
  width: 16px;
  height: 11px;
  background-position: -176px -132px;
}

.flag.pm {
  width: 16px;
  height: 11px;
  background-position: -176px -143px;
}

.flag.pn {
  width: 16px;
  height: 11px;
  background-position: -176px -154px;
}

.flag.pr {
  width: 16px;
  height: 11px;
  background-position: 0px -166px;
}

.flag.ps {
  width: 16px;
  height: 11px;
  background-position: -16px -166px;
}

.flag.pt {
  width: 16px;
  height: 11px;
  background-position: -32px -166px;
}

.flag.pw {
  width: 16px;
  height: 11px;
  background-position: -48px -166px;
}

.flag.py {
  width: 16px;
  height: 11px;
  background-position: -64px -166px;
}

.flag.qa {
  width: 16px;
  height: 11px;
  background-position: -80px -166px;
}

.flag.re {
  width: 16px;
  height: 11px;
  background-position: -96px -166px;
}

.flag.ro {
  width: 16px;
  height: 11px;
  background-position: -112px -166px;
}

.flag.rs {
  width: 16px;
  height: 11px;
  background-position: -128px -166px;
}

.flag.ru {
  width: 16px;
  height: 11px;
  background-position: -144px -166px;
}

.flag.rw {
  width: 16px;
  height: 11px;
  background-position: -160px -166px;
}

.flag.sa {
  width: 16px;
  height: 11px;
  background-position: -176px -166px;
}

.flag.sb {
  width: 16px;
  height: 11px;
  background-position: 0px -177px;
}

.flag.sc {
  width: 16px;
  height: 11px;
  background-position: -16px -177px;
}

.flag.scotland {
  width: 16px;
  height: 11px;
  background-position: -32px -177px;
}

.flag.sd {
  width: 16px;
  height: 11px;
  background-position: -48px -177px;
}

.flag.se {
  width: 16px;
  height: 11px;
  background-position: -64px -177px;
}

.flag.sg {
  width: 16px;
  height: 11px;
  background-position: -80px -177px;
}

.flag.sh {
  width: 16px;
  height: 11px;
  background-position: -96px -177px;
}

.flag.si {
  width: 16px;
  height: 11px;
  background-position: -112px -177px;
}

.flag.sj {
  width: 16px;
  height: 11px;
  background-position: -128px -177px;
}

.flag.sk {
  width: 16px;
  height: 11px;
  background-position: -144px -177px;
}

.flag.sl {
  width: 16px;
  height: 11px;
  background-position: -160px -177px;
}

.flag.sm {
  width: 16px;
  height: 11px;
  background-position: -176px -177px;
}

.flag.sn {
  width: 16px;
  height: 11px;
  background-position: -192px 0px;
}

.flag.so {
  width: 16px;
  height: 11px;
  background-position: -192px -11px;
}

.flag.sr {
  width: 16px;
  height: 11px;
  background-position: -192px -22px;
}

.flag.st {
  width: 16px;
  height: 11px;
  background-position: -192px -33px;
}

.flag.sv {
  width: 16px;
  height: 11px;
  background-position: -192px -44px;
}

.flag.sy {
  width: 16px;
  height: 11px;
  background-position: -192px -55px;
}

.flag.sz {
  width: 16px;
  height: 11px;
  background-position: -192px -66px;
}

.flag.tc {
  width: 16px;
  height: 11px;
  background-position: -192px -77px;
}

.flag.td {
  width: 16px;
  height: 11px;
  background-position: -192px -88px;
}

.flag.tf {
  width: 16px;
  height: 11px;
  background-position: -192px -99px;
}

.flag.tg {
  width: 16px;
  height: 11px;
  background-position: -192px -110px;
}

.flag.th {
  width: 16px;
  height: 11px;
  background-position: -192px -121px;
}

.flag.tj {
  width: 16px;
  height: 11px;
  background-position: -192px -132px;
}

.flag.tk {
  width: 16px;
  height: 11px;
  background-position: -192px -143px;
}

.flag.tl {
  width: 16px;
  height: 11px;
  background-position: -192px -154px;
}

.flag.tm {
  width: 16px;
  height: 11px;
  background-position: -192px -165px;
}

.flag.tn {
  width: 16px;
  height: 11px;
  background-position: -192px -176px;
}

.flag.to {
  width: 16px;
  height: 11px;
  background-position: 0px -188px;
}

.flag.tr {
  width: 16px;
  height: 11px;
  background-position: -16px -188px;
}

.flag.tt {
  width: 16px;
  height: 11px;
  background-position: -32px -188px;
}

.flag.tv {
  width: 16px;
  height: 11px;
  background-position: -48px -188px;
}

.flag.tw {
  width: 16px;
  height: 11px;
  background-position: -64px -188px;
}

.flag.tz {
  width: 16px;
  height: 11px;
  background-position: -80px -188px;
}

.flag.ua {
  width: 16px;
  height: 11px;
  background-position: -96px -188px;
}

.flag.ug {
  width: 16px;
  height: 11px;
  background-position: -112px -188px;
}

.flag.um {
  width: 16px;
  height: 11px;
  background-position: -128px -188px;
}

.flag.us {
  width: 16px;
  height: 11px;
  background-position: -144px -188px;
}

.flag.uy {
  width: 16px;
  height: 11px;
  background-position: -160px -188px;
}

.flag.uz {
  width: 16px;
  height: 11px;
  background-position: -176px -188px;
}

.flag.va {
  width: 16px;
  height: 11px;
  background-position: -192px -188px;
}

.flag.vc {
  width: 16px;
  height: 11px;
  background-position: -208px 0px;
}

.flag.ve {
  width: 16px;
  height: 11px;
  background-position: -208px -11px;
}

.flag.vg {
  width: 16px;
  height: 11px;
  background-position: -208px -22px;
}

.flag.vi {
  width: 16px;
  height: 11px;
  background-position: -208px -33px;
}

.flag.vn {
  width: 16px;
  height: 11px;
  background-position: -208px -44px;
}

.flag.vu {
  width: 16px;
  height: 11px;
  background-position: -208px -55px;
}

.flag.wales {
  width: 16px;
  height: 11px;
  background-position: -208px -66px;
}

.flag.wf {
  width: 16px;
  height: 11px;
  background-position: -208px -77px;
}

.flag.ws {
  width: 16px;
  height: 11px;
  background-position: -208px -88px;
}

.flag.ye {
  width: 16px;
  height: 11px;
  background-position: -208px -99px;
}

.flag.yt {
  width: 16px;
  height: 11px;
  background-position: -208px -110px;
}

.flag.zw {
  width: 16px;
  height: 11px;
  background-position: -208px -121px;
}

.flag.ch {
  width: 11px;
  height: 11px;
  background-position: -208px -132px;
}

.flag.np {
  width: 9px;
  height: 11px;
  background-position: -208px -143px;
}

