
$dark: #333 !default;
$nav_dark: #666 !default;
$nav_border: #999 !default;
$lighter: #bbb !default;
$lightest: #eee !default;
$white: #fff !default;
$yellow: #fea !default;

$body_bg: $white !default;
$nav_bg: $nav_dark !default;
$container_bg: $white !default;
$header_fg: $white !default;
$header_border1: #dfdfdf !default;
$header_border2: $lightest !default;
$header_bg: $lighter !default;
$footer_fg: $white !default;
$footer_anchor_fg: $yellow !default;

$icon-font-path: 'fonts/bootstrap/' !default;

