
$dark: #333;
$nav_dark: #666;
$nav_border: #999;
$lighter: #bbb;
$lightest: #eee;
$white: #fff;
$yellow: #fea;

$body_bg: $white;
$nav_bg: $nav_dark;
$container_bg: $white;
$header_fg: $white;
$header_border1: #dfdfdf;
$header_border2: $lightest;
$header_bg: $lighter;
$footer_fg: $white;
$footer_anchor_fg: $yellow;

$icon-font-path: 'fonts/bootstrap/';

@mixin border-radius($how) {
    -moz-border-radius: $how;
    -webkit-border-radius: $how;
    border-radius: $how;
};

