
$dark: #333;
$nav_dark: #666;
$nav_border: #999;
$lighter: #bbb;
$lightest: #eee;
$white: #fff;

$body_bg: $dark;
$nav_bg: $nav_dark;
$container_bg: $white;
$header_fg: $white;
$header_border1: #dfdfdf;
$header_border2: $lightest;
$header_bg: $lighter;

