
@import 'variables';

body {
    padding: 52px 0 32px;
    }
.navbar {
    background: $nav_bg;
    border-bottom: 2px solid $nav_border;
    }
#footer {
    .navbar {
        padding: 0;
        border: 0;
        min-height: 16px;
        border-top: 2px solid $nav_border;
        background: $nav_bg;

        .nav {
            width: 100%;
            line-height: 16px;
            }
        }
    a {
        padding: 4px 15px;
        line-height: 16px;
        }
    .navbar-text {
        margin: 4px 15px;
        color: $footer_fg;

        a {
            color: $footer_anchor_fg;
            text-decoration: underline;
            line-height: 16px;
            padding: 0;

            &:hover {
                text-decoration: none;
                }
            }
        }
    .container-fluid {
        margin: 0;
        padding: 0;
        color: $footer_fg;
        }
    #menu-logout {
        border-right: 2px solid $nav_border;
        }
    #copyright {
        border-left: 2px solid $nav_border;
        }
    }
#auth {
    max-width: 400px;
    margin: 0 auto;
    background: $container_bg;
    padding: 1em;
    border-radius: 8px;
    }
.over {
    .thumbnail {
        border-style: dotted;
        opacity: .5;
        }
    }
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    }
a.glyphicon, a.glypicon:hover {
    text-decoration: none!important;
    }

