
@import 'variables';
@import 'flags';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme';

html {
    height: 100%;
    }
body, .theme-showcase {
    min-height: 100%;
    }
#modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: $body_bg;
    opacity: .5;
    z-index: 1100;
    }
.float-on-modal {
    z-index: 1101;

    .floater {
        background: $container_bg;
        float: none;
        margin: 0 auto;
        padding: 15px;
        }
    }
body {
    padding: 52px 0 32px;
    }
#footer {
    .navbar {
        padding: 0;
        border: 0;
        min-height: 16px;
        border-top: 2px solid $nav_border;
        background: $nav_bg;

        .nav {
            width: 100%;
            line-height: 16px;
            }
        }
    .navbar-nav > li {
        float: left;
        }
    a {
        padding: 4px 15px;
        line-height: 16px;

        .flag {
            line-height: 11px;
            margin: 3px 0 2px;
            padding: 0;
            display: block;
            text-indent: -1000em;
            }
        }
    .navbar-text {
        margin: 4px 15px;
        color: $footer_fg;

        a {
            color: $footer_anchor_fg;
            text-decoration: underline;
            line-height: 16px;
            padding: 0;

            &:hover {
                text-decoration: none;
                }
            }
        }
    .container-fluid {
        margin: 0;
        padding: 0;
        color: $footer_fg;
        }
    #menu-logout {
        border-right: 2px solid $nav_border;
        }
    #copyright {
        border-left: 2px solid $nav_border;
        }
    }
.vert-wrapper {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .vert-wrapper-inner {
        display: table-cell;
        vertical-align: middle;
        }
    }
#auth {
    max-width: 400px;
    margin: 0 auto;
    background: $container_bg;
    padding: 1em;
    border-radius: 8px;
    }
.over {
    opacity: 0;
    }
[draggable] {
    transition: all .5s ease;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    }
a.glyphicon, a.glypicon:hover {
    text-decoration: none!important;
    }
.spaceme {
    margin-top: 15px;
    }
img {
    max-width: 100%;
    height: auto;
    }
#tray {
    position: fixed;
    bottom: 34px;
    right: 10px;
    width: 300px;

    ul {
        list-style: none;

        li {
            transition: opacity .5s ease;
            margin: 10px 0 0;

            &.ng-enter {
                opacity: 0;

                &.ng-enter-active {
                    opacity: 1;
                    }
                }
            &.ng-leave {
                opacity: 1;

                &.ng-leave-active {
                    opacity: 0;
                    }
                }
            .alert {
                margin: 0;
                }
            }
        }
    }
.progress {
    margin-bottom: 0;
    }
    

