<div ng-if="rows && rows.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="column in columns">
                    {{module + '.' + column | translate}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr m-list-row="item" ng-repeat="item in rows" ng-if="!item.$deleted">
                <td ng-repeat="column in columns">
                    <a mo-path="path" arguments="item">{{item[column]}}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <pagination total-rows="total" ng-model="page" boundary-links="true" max-size="10"></pagination>
    </div>
</div>
<div ng-if="!(rows && rows.length)">
    <alert type="warning">{{'monad.nothing' | translate}}</alert>
</div>

