<div ng-if="tbody.rows && tbody.rows.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="column in tbody.columns">
                    {{tbody.module.name + '.' + column | translate}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in tbody.rows" ng-if="!row.$deleted">
                <td ng-repeat="column in tbody.columns">
                    <a ng-if="!tbody.inlines[column]" mo-path="/:language{{tbody.module.settings.update.url}}" arguments="row">{{row[column]}}</a>
                    <button ng-if="tbody.inlines[column]"
                        class="btn {{tbody.inlines[column].type}}"
                        ng-click="tbody.handle(row, tbody.inlines[column].handle)">
                        {{tbody.inlines[column].label|translate}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!(tbody.rows && tbody.rows.length)">
    <alert type="warning">{{'monad.nothing' | translate}}</alert>
</div>

