<div ng-transclude ng-if="$ctrl.check"></div>
<div class="vert-wrapper" ng-if="!$ctrl.check">
    <div class="vert-wrapper-inner">
        <form ng-submit="$ctrl.attempt($ctrl.credentials)" id="auth" name="auth" novalidate method="post">
            <fieldset>
                <legend translate>Please login</legend>
                <div class="form-group">
                    <input type="text"
                        name="username"
                        ng-model="$ctrl.credentials.username"
                        class="form-control"
                        placeholder="{{ 'Username' | translate }}">
                </div>
                <div class="form-group">
                    <input type="password"
                        name="password"
                        ng-model="$ctrl.credentials.password"
                        class="form-control"
                        placeholder="{{ 'Password' | translate }}">
                </div>
                <button type="submit" class="btn btn-primary float-right" translate>Go!</button>
            </fieldset>
        </form>
    </div>
</div>

