<!doctype html>
<html lang="en" ng-strict-di ng-controller="moController as monad">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{monad.title}} - MonAd</title>
        
        <link href="admin.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <base href="./">
    </head>
    <body role="document">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed"
                        aria-controls="navbar"
                        aria-expanded="false"
                        data-target="#navbar"
                        data-toggle="collapse"
                        ng-click="navExp = !navExp"
                        type="button">
                        <span class="sr-only" translate>Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"
                        ng-href="#/{{monad.language}}/"
                        ng-click="monad.Navigation.select('main')"
                        ng-class="{active: monad.url() == '/' + monad.language + '/'}">
                        <img src="../assets/logo.png?__inline=true" width="20" height="20" alt="Monad">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" ng-class="{'in': navExp}">
                    <ul class="nav navbar-nav">
                        <li><a href="/" target="_blank" translate>Site</a></li>
                        <li ng-repeat="item in monad.Navigation.main" ng-class="{active: item.selected, dropdown: item.items}" dropdown>
                            <a ng-if="item.items" href class="dropdown-toggle" dropdown-toggle>
                                <span ng-include="item.component + '/menu.html'"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" ng-if="item.items">
                                <li ng-repeat="item in item.items">
                                    <a mo-path="{{ item.url }}" ng-click="monad.Navigation.select(item)" mo-menu-label item="item">
                                        <small ng-if="item.manager.notify">{{ item.manager.notify }}</small>
                                        <span ng-include="item.component + '/menu.html'"></span>
                                    </a>
                            </ul>
                            <a ng-if="!item.items" mo-path="{{ item.url }}" ng-click="monad.Navigation.select(item)">
                                <small ng-if="item.manager.notify">{{ item.manager.notify }}</small>
                                <span ng-include="item.component + '/menu.html'">{{ item.component }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="theme-showcase" role="main" ng-view></div>

        <footer id="footer">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li id="copyright" class="pull-right"><p class="navbar-text">
                                &copy; <a href="http://www.monomelodies.nl/" target="_blank" class="navbar-link">MonoMelodies</a>
                                <span class="hidden-xs">2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016</span> &bull;
                                <a href ng-click="monad.license()">MIT</a>
                            </p></li>
                            <li id="menu-logout" ng-if="monad.Authentication.check">
                                <a title="{{'Logout' | translate}}" ng-click="monad.logout()" href>
                                    <span class="glyphicon glyphicon-log-out text-danger"></span>
                                </a>
                            </li>
                            <li ng-repeat="language in monad.languages" ng-class="{active: monad.language == language}">
                                <a mo-path arguments="{language: language}"><span class="flag" ng-class="language">{{language}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>

        <aside id="tray">
            <ul>
                <li ng-repeat="msg in monad.messages">
                    <uib-alert type="{{ msg.type }}">
                        <mo-message data="msg"></mo-message>
                    </uib-alert>
                </li>
            </ul>
        </aside>

        <div id="modal" ng-if="monad.modal"></div>
        
        <script src="bundle.js"></script>
        <script>
            angular.element(document).ready(function() {
                window.monad.bootstrap();
            });
        </script>
        <script ng-if="monad.liveReload" ng-src="{{ monad.liveReload }}"></script>
    </body>
</html>

