
#footer {
	border-width: 2px 0 0;
    
    #menu-logout {
        border-right: 2px solid #999;

        a {
        	background-image: url(menu/logout.png);
            }
        }
    #menu-en a {
	    background-image: url(i18n/en.png);
    	}
    #menu-nl a {
	    background-image: url(i18n/nl.png);
    	}
    #menu-querycommit {
	    border-left: 2px solid #999;

        .ok {
        	color: #9f9;
        	}
        .warn {
            color: yellow;
            }
        .alert {
            color: red;
            }
        }
    #copyright {
        border-left: 2px solid #999;
    	}
    }

