
#header, #footer {
	background: #666;
	border: solid #999;
	color: #fff;
	}
#header a, #footer a {
	color: #fea;
	}

@import 'header';
@import 'footer';
@import 'sidebar';
@import 'languages';

#sites fieldset {
	background: #333;
	border: 2px solid #999;
	}
#main > ul > li > h2 {
	background: url(hdr-999.png) center top repeat-x #999;
	border: 2px solid;
	border-color: #dfdfdf #eee;
    @include border-radius(0 8px 0 0);
	font: 140% "Strenuous", "Arial Black", Arial, sans-serif;
	color: #fff;
	}
#wrap #main > ul ul {
	background-color: #eee;
	}
#main a:hover {
	background-color: #666;
	color: #fff;
	}
#main .menu-page a {
	background-image: url(menu/pages.png);
	}
#main .menu-menu a {
	background-image: url(menu/menus.png);
	}

