
$bodyBg: #333;
$globalColour: #666;
$black: #000;
$anchorColour: $black;
$light: #ccc;
$medium: #999;
$creme: #eee;
$white: #fff;
$sqlBg: $white;
$sqlColour: #000;
$sqlReserved: #909;
$sqlVariable: #080;
$sqlPunctuation: fuchsia;
$sqlMore: blue;
$shadow: $globalColour;
$border1: #dfdfdf;
$trHover: $border1;
$border2: $creme;
$alternateBorder1: "$border1 $border2";
$alternateBorder2: "$globalColour $bodyBg";
$headerGradientFrom: #bbb;
$headerGradientTo: $medium;
$highlight: #fea;
$yellow: $highlight;
$paginateHover: $globalColour;
$paginateHoverColour: $white;
$disabledColour: $bodyBg;
$headerFooterBg: $globalColour;
$ok: #9f9;
$warn: yellow;
$alert: #d22;
$success: #3a2;
$info: #1ae;
$warning: #f80;
$error: $alert;
$focus: #efe;
$focusBorder: green;

