
/**
 * Absolutely center all content (vertically as well as horizontally)
 */
html, body {
    &.valign {
        height: 100%;

        #wrap {
            padding: 0;
            height: 100%;

            #content {
                display: table;
                height: 100%;
                width: 100%;
                margin: 0;

                > div {
                    display: table-cell;
                    float: none;
                    vertical-align: middle;
                    text-align: center;
                    height: 100%;
                    }
                .box {
                    text-align: left;
                    }
                }
            #nav, #sidebar {
                margin: 84px 0 42px;
                position: absolute;
                }
            #sidebar {
                right: 0;
                }
            }
        }
    }

