
@import 'compass';
@import '../mixins';
@import 'variables';

body {
    font: 70% Verdana, Arial, sans-serif;
    background: $bodyBg;
    color: $globalColour;
    }
small {
    font-size: 80%;
    }
a:link, a:active, a:visited {
    color: $anchorColour;
    text-decoration: underline;
    }
a:hover {
    text-decoration: none;
    }
#content ul {
    list-style: square;
    padding-left: 2em;
    }
#content ul li {
    margin: .5em 0;
    }
div.dl {
    border: 1px dotted $light;
    margin: 1em 0;
    padding: 1em 4px;
    }
div.dl dl {
    margin: 0;
    }
dl dt {
    float: left;
    display: block;
    width: 47%;
    text-align: right;
    clear: both;
    padding: 2px 0;
    }
dl dd {
    margin: 0;
    float: right;
    width: 47%;
    text-align: left;
    padding: 2px 0;
    }
p {
    margin: 0 0 1.4em;
    }
code {
    font: 120% "Courier new", monospace;
    }

hr.clear.both {
    clear: both;
    }
th {
    font-weight: bold;
    text-align: left;
    }
td, th {
    vertical-align: top;
    padding: 2px;
    }
th.numeric, td.numeric {
    text-align: right;
    }
span.icon {
    width: 16px;
    height: 16px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -1000em;
    }
.icon {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    text-indent: -1000em;
    background: center center no-repeat transparent;
    margin: 0 2px;
    border: 0;
    @include border-radius(0);
    }
@media only screen and (min-width: 960px) {
    .icon {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        }
    }
.icon.options {
    background-image: url(data/options.png);
    }
.icon.create {
    background-image: url(data/create.png);
    }
.icon.view {
    background-image: url(data/view.png);
    }
.icon.update {
    background-image: url(data/update.png);
    }
.icon.delete, .icon.cancel {
    background-image: url(data/delete.png);
    }
.icon.copy {
    background-image: url(data/copy.png);
    }
.icon.sort {
    background-image: url(data/sort.png);
    cursor: move;
    }
.icon.sort.loading {
    background-image: url(data/loading.gif)!important;
    cursor: wait!important;
    }
#delete_img {
    float: right;
    }
code.sql {
    display: block;
    background: $sqlBg;
    border: 2px solid $medium;
    color: $sqlColour;
    font: 120% "Courier new", monospace;
    margin: .5em;
    padding: .5em;
    }
code.sql .reserved {
    color: $sqlReserved;
    font-weight: bold;
    }
code.sql .variable {
    color: $sqlVariable;
    }
code.sql .punctuation {
    color: $sqlPunctuation;
    }
code.sql .more {
    color: $sqlMore;
    font-weight: bold;
    }
#intro, #page404 {
    max-width: 50em;
    margin: 0 auto;
    }
#monad_restore ol {
    margin: 0;
    padding: 0 0 0 4em;
    text-indent: 0;
    }
#monad_restore .keep {
    text-align: right;
    margin: 0 1em 0 0;
    padding: 0 2px 0 0;
    font-weight: bold;
    }
#monad_restore label span {
    display: inline;
    padding: 0;
    float: none;
    text-align: left;
    width: auto;
    }
#monad_restore input[type=checkbox] {
    float: right;
    margin: 1em 2em 2px;
    }
#monad_restore button[type=submit] {
    background-image: url(menu/session/restore.png);
    }
button[type=submit].delete {
    float: left!important;
    margin-left: 0;
    margin-right: .5em;
    }
p small {
    font-weight: bold;
    font-size: 80%;
    font-style: italic;
    }
#example, #reasons {
    margin-left: 2em;
    }
#reasons .explain div, a.more span.content {
    display: none;
    position: absolute;
    border: 2px solid;
    border-color: $alternateBorder1;
    background: $creme;
    @include box-shadow(2px 2px 4px $shadow);
    @include border-radius(5px);
    width: 20em;
    padding: .5em;
    margin-left: 2em;
    }
#reasons .explain:hover div, a.more:hover span.content {
    display: block;
    }
a.more span.label {
    float: right;
    text-decoration: underline;
    cursor: pointer;
    }
#reasons textarea {
    height: 5em;
    }
#example {
    cursor: pointer;
    }
p small {
    font-style: normal;
    font-weight: normal;
    }
div.datecontainer {
    float: right;
    }
#header, #footer {
    background: $globalColour;
    border: solid $medium;
    color: $white;
    }
#header a, #footer a {
    color: $highlight;
    }
#header {
    border-width: 0 0 2px;
    }
#footer {
    border-width: 2px 0 0;
    }
    
#header #modules #monolyth a {
    border-right: 2px solid $medium;
    }
#footer #menu-logout a {
    background-image: url(menu/logout.png);
    }
#footer #menu-logout {
    border-right: 2px solid $medium;
    }
#footer #menu-en a {
    background-image: url(i18n/en.png);
    }
#footer #menu-nl a {
    background-image: url(i18n/nl.png);
    }
#footer #menu-querycommit {
    border-left: 2px solid $medium;
    }
#footer #menu-querycommit .ok {
    color: $ok;
    }
#footer #menu-querycommit .warn {
    color: $warn;
    }
#footer #menu-querycommit .alert {
    color: $alert;
    }
#footer #copyright {
    border-left: 2px solid $medium;
    }
#header #monolyth a {
    background-image: url(../../monolyth/logo.64x64.png);
    }
#header #monad a {
    background-image: url(logo.64x64.png);
    }
#sites fieldset {
    background: $bodyBg;
    border: 2px solid $medium;
    }
#main > ul > li > h2 {
    @include background-image(linear-gradient($headerGradientFrom, $headerGradientTo));
    border: 2px solid;
    border-color: $alternateBorder1;
    @include border-radius(0 8px 0 0);
    font: 140% "Strenuous", "Arial Black", Arial, sans-serif;
    color: $white;
    }
#wrap #main > ul ul {
    background-color: $creme;
    }
#main a:hover {
    background-color: $globalColour;
    color: $white;
    }
#main .menu-page a {
    background-image: url(menu/pages.png);
    }
#main .menu-menu a {
    background-image: url(menu/menus.png);
    }
#sidebar div {
    border: 2px solid;
    border-color: $alternateBorder1;
    background: $highlight;
    color: $globalColour;
    @include border-radius(8px);
    }
#sidebar > div {
    color: $white;
    }
#sidebar .success {
    background: $success;
    }
#sidebar .info {
    background: $info;
    }
#sidebar .warning {
    background: $warn;
    }
#sidebar .error {
    background: $error;
    }
.languages .language a {
    border: 2px solid $white;
    }
.languages .language a:hover {
    border-color: $alternateBorder1;
    }
.languages .language.en a {
    background-image: url(i18n/en.png);
    }
.languages .language.nl a {
    background-image: url(i18n/nl.png);
    }
.languages .language.de a {
    background-image: url(i18n/de.png);
    }
.languages .language.fr a {
    background-image: url(i18n/fr.png);
    }
.languages .language.es a {
    background-image: url(i18n/es.png);
    }
.languages .language a.selected {
    border-color: $alternateBorder2;
    }
.box .outer {
    @include background-image(linear-gradient($headerGradientFrom, $headerGradientTo));
    border: 2px solid;
    border-color: $alternateBorder1;
    @include border-radius(0 8px 0 0);
    color: $white;
    font: 140% "Strenuous", "Arial Black", Arial, sans-serif;
    }
.box .outer h1 {
    font-weight: normal;
    }
.box h2 {
    font: bold 140% "Arial Black", Arial, sans-serif;
    border-bottom: 1px solid $border1;
    }
.box h1 a {
    color: $white;
    text-decoration: none;
    }
.box .inner, #main > ul ul.active {
    background: $white;
    border: 2px solid;
    border-color: $alternateBorder1;
    @include border-radius(0 0 0 8px);
    }
@media only screen and (min-width: 960px) {
    #main > ul ul {
        border: 2px solid;
        border-color: $alternateBorder1;
        }
    }
.box > div .columns, .columns {
    -moz-column-width: 30em;
    -moz-column-gap: 1em;
    }
.box div h1, .box div h2 {
    @include border-radius(0);
    }
#sidebar .box .inner {
    background-color: $highlight;
    }
.box b.icons a {
    width: 16px;
    height: 16px;
    }
.box b.icons .create {
    background-image: url(data/create.png);
    }
.box b.icons .up {
    background-image: url(data/up.png);
    }
.objectlist {
    float: left;
    margin: 0 1em 0 0;
    width: 20em;
    }
.objectlist ul {
    width: 100%;
    -moz-column-width: 16em;
    column-width: 16em;
    -moz-column-gap: 0;
    column-gap: 0;
    }
.objectlist li {
    overflow-x: hidden;
    }
.objectlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    }
.objectlist a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    @include border-radius(2px);
    }
.objectlist a {
    background: url(data/model.png) 2px center no-repeat;
    padding: 2px 0 2px 24px;
    min-height: 16px;
    }
.objectlist a:hover {
    background-color: $globalColour;
    color: $white;
    }
.objectlist .compound a {
    background-image: url(data/model.compound.png);
    }
.objectlist .table a {
    background-image: url(data/model.table.png);
    }
.objectlist .group h1 {
    font-size: 100%;
    margin: 0;
    padding: 2px 0 2px 24px;
    background: url(data/object.group.png) 2px center no-repeat;
    border: 0;
    color: $globalColour;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    }
.objectlist .group h1 a {
    color: $globalColour;
    }
.objectlist .group.pretty ul {
    height: 0;
    overflow: hidden;
    margin-left: 16px;
    }
a.toggle {
    margin: 0 4px;
    padding: 0;
    background: transparent;
    float: right;
    font-family: "Courier new", monospace;
    color: $black!important;
    background: transparent!important;
    }
a.toggle:hover {
    color: $black!important;
    background: transparent!important;
    }
fieldset legend + a.toggle {
    margin-top: -10px;
    }
fieldset.pretty {
    height: 12px;
    overflow: hidden;
    }
fieldset.pretty label {
    display: none;
    }
.inner table {
    border-collapse: collapse;
    width: 100%;
    }
.inner table th, .inner table td {
    padding: 4px;
    margin: 0;
    border: 0;
    }
.inner table a {
    display: block;
    }
.inner table img {
    max-width: 300px;
    }
.update .inner table a {
    display: inline;
    }
.monad th {
    background: $globalColour;
    color: $white;
    }
.monad th a {
    color: $white;
    }
.list table tr.odd td {
    background: $creme;
    }
.list tr:hover td {
    background: $trHover;
    }
div.box.monad div.inner {
    overflow-x: scroll;
    }
.box#modelbrowse, .box#modeledit {
    margin-left: 21em;
    }
.model-browse table {
    border-collapse: collapse;
    }
.model-browse th, .model-browse td {
    margin: 0;
    padding: 2px;
    }
fieldset.language {
    padding: 0;
    border: 0;
    background: transparent;
    max-width: 80em;
    }
fieldset.language.hidden {
    display: none;
    }
fieldset.language > legend {
    display: none;
    }
.icon.fk_select {
    float: none;
    background-image: url(data/fk_select.png);
    display: inline-block;
    }
a.left, a.right {
    text-decoration: none;
    font-weight: bold;
    }
form fieldset {
    border: 2px solid;
    border-color: $alternateBorder1;
    background: $highlight;
    margin: 0 0 1em;
    @include border-radius(0 0 0 8px);
    padding: .3em .5em;
    }
form legend {
    @include background-image(linear-gradient($headerGradientFrom, $headerGradientTo));
    border: 2px solid;
    border-color: $alternateBorder1;
    @include border-radius(0 8px 0 0);
    color: $white;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    }
span.info {
    background: $white;
    }
form input:focus, form textarea:focus, form select:focus {
    border-color: $focusBorder;
    background: $focus;
    }
form input:hover, form textarea:hover, form select:hover {
    border-color: $focusBorder;
    }
form .collapse input, form .collapse select {
    width: auto;
    }
form .compound {
    text-align: right;
    }
form .compound label, form .collapse label {
    display: inline;
    clear: none;
    padding-right: 1em;
    white-space: pre;
    }
.update form textarea {
    width: 100%;
    @include box-sizing(border-box);
    }
.update form textarea {
    height: 15em;
    }
form table {
    width: 100%;
    }
button {
    cursor: pointer;
    margin-left: .5em;
    }
.buttons button {
    float: right;
    }
form fieldset > div {
    margin: .5em 0;
    }
label.hidden {
    display: none;
    }
.paginate {
    text-align: center;
    border: solid $border1;
    border-width: 2px 0;
    background: $highlight;
    margin: 1em 0;
    }
.paginate li {
    display: inline-block;
    margin: .5em 0;
    }
.paginate a, .paginate strong {
    font-weight: bold;
    display: block;
    padding: 0 .5em;
    }
.paginate a:hover {
    background: $paginateHover;
    color: $paginateHoverColour;
    }
.paginate .first, .paginate .last {
    margin: 0 1em;
    }
input[disabled], select[disabled], textarea[disabled] {
    color: $disabledColour;
    }
#ui-datepicker-div {
    background: $white;
    border: 1px solid;
    border-color: $alternateBorder1;
    padding: 8px;
    @include box-shadow(2px 2px 4px $shadow);
    @include border-radius(16px);
    }
.ui-datepicker-prev {
    float: left;
    }
.ui-datepicker-next {
    float: right;
    }
.ui-datepicker-month {
    text-align: center;
    }
.ui-datepicker-calendar {
    clear: both;
    }
#ui-datepicker-div button {
    text-indent: 0;
    height: auto;
    margin: 0;
    }
.monad_tabs_menu a {
    display: inline-block;
    margin: 2px 4px;
    padding: 2px;
    }
.monad_tabs_menu a.active {
    margin: 0 2px;
    border: 2px solid $medium;
    background: $black;
    color: $white;
    text-decoration: none;
    }
th.actions, td.action {
    width: 1px;
    }
td.action form fieldset {
    padding: 0;
    border: 0;
    @include border-radius(0);
    margin: 0;
    background: transparent;
    }
iframe.monad_file {
    width: 100%;
    }
form label small {
    visibility: hidden;
    font-weight: bold;
    }
form label:hover small {
    visibility: visible;
    }
.monad_inline.stacked input,
.monad_inline.stacked textarea,
.monad_inline.stacked select {
    display: none;
    }
.monad_inline.stacked .editing input,
.monad_inline.stacked .editing textarea,
.monad_inline.stacked .editing select,
.monad_inline.stacked .createrow input,
.monad_inline.stacked .createrow textarea,
.monad_inline.stacked .createrow select {
    display: inline;
    }
.monad_inline.stacked .editing span {
    display: none;
    }
#monad-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $black;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 999;
    }
#monad-modal + .popup {
    z-index: 1000;
    width: 500px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -250px;
    }
.foreign-key tr {
    cursor: pointer;
    }
.ui-timepicker-div dt {
    height: 20px;
    }
.ui-timepicker-div .ui-slider {
    background: $white;
    position: relative;
    height: 20px;
    }
.ui-timepicker-div .ui-slider-handle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $yellow;
    border: 4px solid $black;
    position: absolute;
    }
.ui_tpicker_time_label, .ui_tpicker_time {
    font-weight: bold;
    }

