/*
img#fakebackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
html, body {
	min-height: 100%;
	}
body {
	margin: 0;
	padding: 0;
	font: 62.5% Verdana, sans-serif;
	}
td, th {
	text-align: left;
	}
td.numeric {
	text-align: right;
	}
#footer {
	position: fixed;
	bottom: 0;
	background: url(fade-hori.png) center top repeat-x #000;
	width: 100%;
	border-top: 2px solid #fc0;
	font-family: "Strenuous", fantasy;
	}
div#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	font-size: 110%;
	}
div#canvas .canvasinner {
	margin: 0;
	padding: 0 4px 16px;
	}

div#header {
	margin: 0 0 1ex;
	padding-top: 0;
	border-bottom: 2px solid #fc0;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	}
div#header .boxinner {
	padding: 12px 0;
	-moz-border-radius: 0 0 16px 16px;
	}
#header {
	color: #fff;
	font-family: "Strenuous", fantasy;
	}
#header h1 {
	min-height: 32px;
	float: left;
	padding-left: 36px;
	margin: 4px;
	background: url(/style/monolyth/logo.32x32.png) left top no-repeat;
	font-size: 200%;
	}
#header h1 span {
	display: inline-block;
	min-height: 32px;
	padding-left: 36px;
	background: url(logo.32x32.png) left top no-repeat;
	}
#sites, #sites a {
	color: #fff;
	margin: 0 0 0 4px;
	}
#sites {
	margin-top: 12px;
	}

#menu {
	margin: 8px 0 2px 36px;
	}
#footer ul {
	margin: 0 0 0 8px;
	font-size: 110%;
	}
#menu, #footer ul {
	padding: 0;
	text-indent: 0;
	list-style: none;
	text-align: left;
	font-weight: bold;
	font-variant: small-caps;
	font-family: "Verdana", sans-serif;
	clear: left;
	}
#menu li, #footer ul li {
	float: left;
	}
#menu a, #footer ul a {
	padding: 2px 4px 2px 0;
	text-decoration: none;
	color: #999;
	border-radius: 4px;
	}
#menu a {
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	}
#footer ul a {
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	}
#menu a, #menu span, #footer ul a, #footer ul span {
	display: block;
	}
#menu a:hover, #footer ul a:hover {
	background: #fc0;
	color: #000;
	}
#menu a:active, #footer ul a:active {
	background: #fff;
	color: #000;
	}
#menu span, #footer ul span {
	min-height: 16px;
	padding-left: 24px;
	background: 4px top no-repeat;
	}
ul li#menu-pages span {
	background-image: url(menu/pages.png);
	}
ul li#menu-data span {
	background-image: url(menu/data.png);
	}
ul li#menu-users span {
	background-image: url(menu/users.png);
	}
ul li#menu-modules span {
	background-image: url(menu/modules.png);
	}
ul li#menu-repositories span {
	background-image: url(menu/repositories.png);
	}
ul li#menu-logout span {
	background-image: url(menu/logout.png);
	}

div#dock {
	margin: 0 8px 1ex 184px;
	padding-top: 0;
	-moz-border-radius: 0 0 16px 16px;
	}
div#dock .boxinner {
	padding: 12px;
	-moz-border-radius: 0 0 16px 16px;
	}
#dock ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	}
#dock li {
	display: inline-block;
	margin: 4px;
	}
#dock a {
	width: 64px;
	height: 64px;
	display: block;
	background: center center no-repeat;
	opacity: .8;
	text-indent: -1000em;
	}
#dock a:hover {
	opacity: 1;
	}
#dock a:active {
	background-color: #000;
	}
#dock #dock-monad a {
	background-image: url(logo-small.png);
	}
#dock hr {
	height: 0;
	border: 0;
	visibility: hidden;
	clear: left;
	}

.box, .box th, .box td {
	color: #fff;
	}
.box {
	background: url(fade.png);
	padding: 2px;
	margin: 2px;
	text-align: justify;
	border: 1px solid #fc0;
	-moz-border-radius: 8px;
	}
.box a {
	color: #999;
	text-decoration: underline;
	}
.box a:hover {
	text-decoration: none;
	}
.boxinner {
	background: url(fade.png);
	padding: 4px;
	-moz-border-radius: 8px;
	}
.box h2 {
	margin: 0;
	padding: 2px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 120%;
	background: #000;
	}
.box p {
	padding: 2px;
	margin: 4px 0;
	}
#intro.box {
	width: 512px;
	margin: 0 auto;
	}
#login.box {
	width: 30em;
	margin: 0 auto;
	}
.box .watermark {
	background: url(logo-big.png) center center no-repeat;
	}

div#copyright {
	padding: 2px;
	margin: 4px;
	float: right;
	}
div#copyright {
	text-transform: uppercase;
	color: #fff;
	}
div#copyright a {
	text-decoration: underline;
	color: #fc0;
	}
div#copyright a:hover {
	text-decoration: none;
	}
h1 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	}
h1 small {
	color: #999;
	}

form {
	margin: 0;
	padding: 0;
	}
fieldset {
	border: 1px dotted #666;
	padding: 0 1em 4px;
	margin: 0;
	-moz-border-radius: 8px;
	}
fieldset legend {
	font-weight: bold;
	}
label, label span {
	display: block;
	text-align: left;
	}
input, textarea, select {
	width: 100%;
	border: 1px solid #999;
	background: transparent;
	color: #fff;
	font: 100% Verdana, sans-serif;
	}
.collapse input, .collapse textarea, .collapse select {
	width: auto;
	}
select, select option, select optgroup {
	background: url(fade.png);
	}
select option:hover {
	background-color: #fff;
	color: #000;
	}
input[type=submit], input[type=image], input[type=radio], input[type=checkbox] {
	width: auto;
	border: 0;
	}
input[disabled=disabled],
select[disabled=disabled], select[disabled=disabled] option,
textarea[disabled=disabled] {
	background: url(greyed.png);
	color: #000;
	}
.box .buttonlist {
	margin: 1ex 0 0;
	text-align: right;
	}
.box .buttonlist input {
	margin: 4px 0 0 4px;
	}
button {
	background: transparent;
	border: 1px solid #666;
	color: #fff;
	-moz-border-radius: 4px;
	padding: 0;
	}
pre samp, code {
	font-size: 120%;
	}

#content {
	margin: 68px 8px 28px;
	}

dl {
	border: 1px dotted #666;
	padding: 4px;
	-moz-border-radius: 4px;
	}
dl dt {
	float: left;
	width: 49%;
	text-align: right;
	}
dl dd {
	margin: 0 0 0 51%;
	width: 49%;
	text-align: left;
	}

#pagelist {
	float: left;
	margin-top: 0;
	width: 250px;
	}
#currentpage {
	margin-left: 266px;
	}

div.model-browse {
	width: 100%;
	overflow-x: scroll;
	}
table.model-browse thead, table.model-browse tbody, table.model-browse tfoot {
	}
.model-browse th {
	background: #000;
	}
.model-browse tr {
	height: 2ex;
	overflow: hidden;
	}
/* definition lists */

/* boxes */
div.box {
	margin-bottom: 8px;
	}
div.box h2 {
	background: url(cnr-999.png) right top no-repeat #999;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #eee;
	font: 120% "Arial Black", Arial, sans-serif;
	margin: 0 0 2px;
	}
div.box h2 span {
	background: url(hdr-999.png) center top repeat-x;
	color: #fff;
	display: block;
	margin-right: 9px;
	padding: 2px 0 2px 4px;
	}
div.box h2 a {
	color: #fff;
	text-decoration: none;
	}
