/* boxes */
.box {
	margin-bottom: 8px;
	}
.box h1, .box h2 {
	background: url(cnr-999.png) right top no-repeat #999;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #eee;
	font: 120% "Arial Black", Arial, sans-serif;
	margin: 0 0 2px;
	color: #fff;
	}
.box h1 span, .box h2 span {
	background: url(hdr-999.png) center top repeat-x;
	display: block;
	margin-right: 9px;
	padding: 2px 0 2px 4px;
	border-top: 1px solid #eee;
	}
.box h1 a, .box h2 a {
	color: #fff;
	text-decoration: none;
	}
.box > div {
	background: url(box-fff.png) left bottom no-repeat transparent;
	border: solid #eee;
	border-width: 1px 1px 0 0;
	padding-bottom: 8px;
	}
.box > div > div {
	background: #fff;
	border: solid #eee;
	border-width: 0 0 0 1px;
	padding: 2px 4px;
	}
.box > div > div .columns, .columns {
	-moz-column-width: 30em;
	-moz-column-gap: 1em;
	}
.box div h1, .box div h2 {
	background: url(hdr-999.png) center top repeat-x #999;
	padding: 2px 4px;
	}
.box div h1 span, .box div h2 span {
	background: transparent;
	}
.box hr {
	border: 0;
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	clear: both;
	visibility: hidden;
	}

#sidebar .box > div {
	background-image: url(box-fea.png);
	}
#sidebar .box > div > div {
	background-color: #fea;
	}

.box b.icons {
	float: right;
	}
.box b.icons a {
	display: block;
	float: left;
	background: center center no-repeat;
	text-indent: -8192px;
	width: 16px;
	height: 16px;
	}
.box b.icons a.insert {
	background-image: url(data/insert.png);
	}
.box b.icons a.up {
	background-image: url(data/up.png);
	}
