<h1 class="container-fluid">
    <a class="btn btn-default btn-xs pull-right" ng-href="{{monad.path(item.listUrl)}}">Back</a>
    {{item.app + '.$meta.singular' | translate:item.Model}}
</h1>
<div class="container-fluid clearfix">
    <form ng-submit="item.data.$new ? item.Meta.$create(item.Model) : item.Model.$update()" class="row">
        <fieldset ng-repeat="fieldset in item.Meta.$fieldsets" ng-class="fieldset.className">
            <legend ng-if="fieldset.title">{{fieldset.title | translate}}</legend>
            <div ng-repeat="field in fieldset.fields" class="form-group" ng-include="item.Meta.$widgets[field].template || item.Meta.$widgets[field]"></div>
        </fieldset>
        <br style="clear: both">
        <button type="submit" class="btn btn-default pull-right">Submit</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </form>
</div>

